speech/
*.csv
*.so
*env/
*.pyc
*.pyo
*.pyd
__pycache__/
*.egg-info/
*.egg
*.log
*.sqlite3
*.db
*.tar.gz
*.zip
*.tar
*.tar.bz2
*.tar.xz
*.tar.lz
*.tar.lzma
*.tar.zst
*.tar.lzo
*.tar.lzop
*ckpt*
*.pt
*.pth
object_detection_dali/SSD/resnet152-f82ba261.pth
object_detection_dali/SSD/resnet50-0676ba61.pth